<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PROJECT GYM</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>

  </head>
  <body>
    <div id="app">


    <div class="wallpaper">

      <div class="slogan">NO PAIN NO GAIN</div>

      <p><strong>Motivation is what gets you started. Habit is what keeps you going</strong>.</p>

      <div class="cta-wp">
        JOIN US TODAY
      </div>

    </div>
    <div class="overbody">

      <div class="header">
        <div class="header-left">

          <img src="img/gym_logo_1x.png" alt="logo gym">

        </div>
        <div class="header-right">

          <span v-for="header in headers">{{header}}</span>
          <!-- <span>ABOUT US</span>
          <span>FACILITIES</span>
          <span>MEMBERSHIP</span>
          <span>TESTIMONIALS</span>
          <span>BLOG</span> -->

        </div>
      </div>

    </div>
    <div class="spacer">

      <span class="world">WORLD CLASS Fitness</span>

      <span class="divider"><i class="fas fa-times red"></i><i class="fas fa-times red"></i></span>

      <p class="worldp">At Avada Gym, everything we do from top to bottom is of the heighest quality to ensure we're equipped to help you reach your goals of a healthy and fit lifestyle.</p>

    </div>
    <div class="signup">

      <div class="container-signup">
        <div class="signup-left">

          <img src="img/home_img-compressor.jpg" alt="">

        </div>
        <div class="signup-right">

          <div class="signup-cta">

            Sign Up For A Free Training Session!

          </div>

          <span>Name</span>
          <input type="text" name="name" value="">

          <span class="space-signup">Email</span>
          <input type="text" name="" value="">

          <div class="start-signup">
            START NOW!
          </div>

        </div>

      </div>

    </div>
    <div class="circle-cards">

      <div class="cards-container">

        <div class="card">

          <div class="card-icon">

            <i class="fas fa-unlink"></i>

          </div>
          <div class="card-title">

            Strength & Conditioning

          </div>
          <div class="card-divider">

            <img src="img/divider-x-red.png" alt="">

          </div>
          <div class="card-p">

            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor

          </div>

        </div>
        <div class="card">

          <div class="card-icon">

            <i class="fas fa-bicycle"></i>

          </div>
          <div class="card-title">

            Fitness & Cardio

          </div>
          <div class="card-divider">

            <img src="img/divider-x-red.png" alt="">

          </div>
          <div class="card-p">

            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor

          </div>

        </div>
        <div class="card">

          <div class="card-icon">

            <i class="fab fa-skyatlas"></i>

          </div>
          <div class="card-title">

            Flexibility & Rest

          </div>
          <div class="card-divider">

            <img src="img/divider-x-red.png" alt="">

          </div>
          <div class="card-p">

            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor

          </div>

        </div>
        <div class="card">

          <div class="card-icon">

            <i class="fas fa-heartbeat"></i>

          </div>
          <div class="card-title">

            Health & Diet

          </div>
          <div class="card-divider">

            <img src="img/divider-x-red.png" alt="">

          </div>
          <div class="card-p">

            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor

          </div>

        </div>

      </div>

    </div>
    <div class="real-world">

      <div class="real-world-h">
        REAL WORLD RESULT
      </div>
      <div class="real-world-divider">

        <img src="img/divider-xx-red.png" alt="">

      </div>
      <div class="real-world-cardcollector">

        <div class="real-world-card">

          <div class="real-world-card-img">

            <img src="img/review_1-compressor.jpg" alt="">

          </div>
          <div class="real-world-card-p">

            <i>"The trainers at Avada Gym have helped me reach my fitness goals beyond anything I could of hoped for. i love it!""</i>
            <br>

            <span><strong>- Tara Smith</strong></span>

          </div>

        </div>
        <div class="real-world-card">

          <div class="real-world-card-img">

            <img src="img/review_3-compressor-2.jpg" alt="">

          </div>
          <div class="real-world-card-p">

            <i>"The atmosphere at Avada Gym is amazing, the people are even better. All in all, it is a great place to work out."</i>
            <br>

            <span><strong>- Simon Chel</strong></span>

          </div>

        </div>
        <div class="real-world-card">

          <div class="real-world-card-img">

            <img src="img/review_2-compressor.jpg" alt="">

          </div>
          <div class="real-world-card-p">

            <i>"The facilities at Avada Gym stood out to me the most. They are well maintained and have high quality equipment.""</i>
            <br>

            <span><strong>- Jen Wirth</strong></span>

          </div>

        </div>
        <div class="real-world-card">

          <div class="real-world-card-img">

            <img src="img/review_4-compressor-2.jpg" alt="">

          </div>
          <div class="real-world-card-p">

            <i>"No bad things to say about Avada Gym, they are top notch at every corner and truly take care of their customers."</i>
            <br>

            <span><strong>- Jeff Glum</strong></span>

          </div>

        </div>

      </div>
      <div class="high-performance">

        HIGH PERFORMANCE FACILITIES

      </div>
      <div class="high-performance-divider">

        <img src="img/divider-xx-red.png" alt="">

      </div>
      <div class="high-performance-collector">

        <div class="high-performance-img">

          <img src="img/home-image1.jpg" alt="">

        </div>
        <div class="high-performance-img">

          <img src="img/home-image2.jpg" alt="">

        </div>
        <div class="high-performance-img">

          <img src="img/home-image3.jpg" alt="">

        </div>
        <div class="high-performance-img">

          <img src="img/home-image4.jpg" alt="">

        </div>
        <div class="high-performance-img">

          <img src="img/home-image54.jpg" alt="">

        </div>
        <div class="high-performance-img">

          <img src="img/home-image6.jpg" alt="">

        </div>

      </div>

    </div>
    <div class="punch">

      <div class="brucesays">

        <p>"I fear not the man who has practiced 10.000 kicks once, but i fear the man who has practiced one kick 10.000 times"</p>

        <div class="brucesays-img">

          <img src="img/divider-white-xx.png" alt="">

        </div>

        <span>BRUCE LEE - QUOTE OF THE DAY</span>

      </div>

    </div>
    <div class="trainers">

      <div class="trainers-h">
        MEET OUR TRAINERS
      </div>
      <div class="trainers-divider">

        <img src="img/divider-xx-red.png" alt="">

      </div>
      <div class="trainers-cardcollector">

        <div class="trainers-card">
          <div class="trainers-card-img">

            <img src="img/trainer1.jpg" alt="">

          </div>
          <div class="trainers-card-description">

            <div class="trainers-card-description-h">

              Ann Baker <br>
              Personal trainer

            </div>
            <div class="trainers-card-description-p">

              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore

            </div>
            <div class="trainers-card-description-social">

              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-instagram"></i>


            </div>

          </div>

        </div>
        <div class="trainers-card">
          <div class="trainers-card-img">

            <img src="img/trainer3.jpg" alt="">

          </div>
          <div class="trainers-card-description">

            <div class="trainers-card-description-h">

              Ann Baker <br>
              Personal trainer

            </div>
            <div class="trainers-card-description-p">

              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore

            </div>
            <div class="trainers-card-description-social">

              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-instagram"></i>


            </div>

          </div>

        </div>
        <div class="trainers-card">
          <div class="trainers-card-img">

            <img src="img/trainer4.jpg" alt="">

          </div>
          <div class="trainers-card-description">

            <div class="trainers-card-description-h">

              Ann Baker <br>
              Personal trainer

            </div>
            <div class="trainers-card-description-p">

              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore

            </div>
            <div class="trainers-card-description-social">

              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-instagram"></i>


            </div>

          </div>

        </div>

      </div>
      <div class="trainers-button">
        <div class="button-trainers">
          VIEW ALL TRAINERS
        </div>
      </div>

    </div>
    <div class="performance">

      <div class="performance-h">

        PERFORMANCE NEWS

      </div>
      <div class="performance-divider">

        <img src="img/divider-xx-red.png" alt="">


      </div>
      <div class="performance-cardcollector">

        <div class="performance-card">

          <div class="performance-card-img">

            <img src="img/blog1.jpg" alt="">

            <div class="layover">

              <div class="layover-icons">

                <i class="fas fa-link"></i>
                <i class="fas fa-search"></i>

              </div>

            </div>

          </div>
          <div class="performance-card-description">

            <div class="performance-card-description-h">

              Train with free weights or your body weight?

            </div>
            <div class="performance-card-description-p">

              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            </div>

          </div>

        </div>
        <div class="performance-card">

          <div class="performance-card-img">

            <img src="img/blog6.jpg" alt="">
            <div class="layover">

              <div class="layover-icons">

                <i class="fas fa-link"></i>
                <i class="fas fa-search"></i>

              </div>

            </div>

          </div>
          <div class="performance-card-description">

            <div class="performance-card-description-h">

              Nutritional advice that will keep you training

            </div>
            <div class="performance-card-description-p">

              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            </div>

          </div>

        </div>
        <div class="performance-card">

          <div class="performance-card-img">

            <img src="img/trainer4.jpg" alt="">
            <div class="layover">

              <div class="layover-icons">

                <i class="fas fa-link"></i>
                <i class="fas fa-search"></i>

              </div>

            </div>

          </div>
          <div class="performance-card-description">

            <div class="performance-card-description-h">

              Simple principles for your next workout

            </div>
            <div class="performance-card-description-p">

              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            </div>

          </div>

        </div>
        <div id="card4"class="performance-card">

          <div class="performance-card-img">

            <img src="img/blog4.jpg" alt="">
            <div class="layover">

              <div class="layover-icons">

                <i class="fas fa-link"></i>
                <i class="fas fa-search"></i>

              </div>

            </div>

          </div>
          <div class="performance-card-description">

            <div class="performance-card-description-h">

              To be number one, train like you're number two

            </div>
            <div class="performance-card-description-p">

              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            </div>

          </div>

        </div>
        <div class="performance-card">

          <div class="performance-card-img">

            <img src="img/trainer3.jpg" alt="">
            <div class="layover">

              <div class="layover-icons">

                <i class="fas fa-link"></i>
                <i class="fas fa-search"></i>

              </div>

            </div>

          </div>
          <div class="performance-card-description">

            <div class="performance-card-description-h">

              Top 5 mistakes every gym member makes

            </div>
            <div class="performance-card-description-p">

              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            </div>

          </div>

        </div>
        <div id="card6" class="performance-card">

          <div class="performance-card-img">

            <img src="img/trainer1.jpg" alt="">
            <div class="layover">

              <div class="layover-icons">

                <i class="fas fa-link"></i>
                <i class="fas fa-search"></i>

              </div>

            </div>

          </div>
          <div class="performance-card-description">

            <div class="performance-card-description-h">

              The myths of shedding body fat explored

            </div>
            <div class="performance-card-description-p">

              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            </div>

          </div>

        </div>

      </div>
      <div class="performance-buttons">

        <div class="performance-button">

          READ ALL ARTICLES

        </div>

      </div>

    </div>
    <div class="achieve">

      <div class="achieve-space">

        <div class="achieve-script">

          <div class="achieve-h">

            Achieve Your Fitness Goals

          </div>
          <div class="achieve-p">

            <p>Flexible membership packages to suit all levels of athlete and achive your fitness goals</p>

          </div>

        </div>
        <div class="achieve-buttons">

          <div class="achieve-button">

            JOIN US

          </div>

        </div>

      </div>

    </div>
    <div class="contacts">
      <div class="contact-space">

        <div class="contact">

          <div class="contact-h">

            COME FIND US

          </div>
          <div class="contact-adress">

            12345 North Main Street <br>
            New York, NY 555555 <br>
            Phone: 1.800.555.6789 <br>
            Email: info@your-domain.com

          </div>

        </div>
        <div class="contact">

          <div class="contact-h">

            RECENT POSTS

          </div>
          <div class="contact-post">
            <div class="train">

              > Train with free weights or your body weight?

            </div>
            <div class="nutritional">

              > Nutritional advice that will keep you training

            </div>

          </div>

        </div>
        <div id="idcontact" class="contact">

          <div class="contact-h">

            OPENING TIMES

          </div>

          <div class="contact-times">

            <div class="contact-weekdays">

              Weekdays Monday - Friday <br>

              <span>09:00 - 19:00</span>

            </div>
            <div class="contact-weekends">

              Weekends Saturday - Sunday

              <span>09:00 - 21:00</span>


            </div>



          </div>

        </div>
        <div class="contact">

          <img src="img\gym_ad-compressor.jpg" alt="">

        </div>

      </div>

    </div>
    <div class="footer">

      <div class="footer-space">

        <div class="copyright">

          <span v-for="footer in footers" class="copyright-span">{{footer}}</span>
          <!-- <span class="copyright-span">Avada Theme by Theme Fusion</span>
          <span class="copyright-span">All Right reserved</span>
          <span class="copyright-span">Powered by WordPress</span> -->

        </div>
        <div class="footer-icons">

          <div class="footer-icons-fb">

            <i class="fab fa-facebook-f"></i>

            <span>Facebook</span>

          </div>
          <div class="footer-icons-tw">

            <i class="fab fa-twitter"></i>

            <span>Twitter</span>

          </div>
          <div class="footer-icons-in">

            <i class="fab fa-instagram"></i>

            <span>Instagram</span>

          </div>

        </div>

      </div>

    </div>

  </div>
  </body>
</html>
