*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.wallpaper{
  height: 100vh;
  width: 100%;
  background-image: url('img/home-banner.jpg');
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slogan{
  font-size: 115px;
  color: white;
  font-weight: bolder;
  margin-top: 80px;
}

.wallpaper p{
  color: white;
  font-size: 22px;
  margin: 20px 0;

}

.cta-wp{
  border: 1px solid grey;
  color: grey;
  padding: 20px 30px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
}

.cta-wp:hover{
  color: white;
  border: 1px solid white;
}

.overbody{
  width: 90%;
  margin: auto;
  z-index: 100;

}

.header{

  width: 90%;
  height: 200px;
  margin: auto;
  z-index: 100;
  position: absolute;
  top: 50px;
  display: flex;
  align-items: center;
}

.header img{
  margin-left: 20px;
  margin-top: 55px;
}

.header-left, .header-right{
  width: 50%;
  color: white;

}

.header-right{
  display: flex;
  justify-content: flex-end;
}

.header-right span{
  padding: 22px;
  margin-top: 50px;
}

.header-right span:hover{

  color: #d5625f;
}

.spacer{
  height: 400px;
  background-color: #252a2d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.world{
  color: white;
  font-size: 40px;
  font-weight: bolder;
}

.divider{
  margin: 30px 0;
}

.red{
  color: #d5625f;
  padding: 5px;
}

.worldp{
  color: #aeafae;
  width: 830px;
  text-align: center;
  line-height: 30px;
}

.signup{
  width: 100%;
  min-height: 400px;
  background-color: #212425;
}

.container-signup{
  width: 60%;
  margin: auto;
  display: flex;
  padding: 100px 10px;
}

.signup-left{
  width: 50%;
}

.signup-left img{

  width: 90%;
  height: 90%;
  transition: all 0.5s ease;
}

.signup-left img:hover{

  transform: scale(1.05);
}

.signup-right{
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}

.signup-cta{
  color: white;
  font-size: 23px;
  font-weight: bolder;
  padding-bottom: 35px;
}

.signup-right input{
  background-color: #212425;
  border: 1px solid #6b6b6b;
  color: white;
  height: 40px;
  width: 120%;
  opacity: 1;

  transition: all 1s ease;
}

.signup-right input:hover{

  opacity: 0.5;
}

.signup-right span{
  color: #aeafae;
  margin-bottom: 20px;
}

.space-signup{
  padding-top: 20px;
}

.start-signup{
  width: 120%;
  text-align: center;
  color: white;
  padding: 20px 0;
  background-color: #d5625f;
  margin-top: 40px;
  font-weight: bold;
}

.circle-cards{
  width: 100%;
  display: flex;
  min-height: 600px;
  background-image: url('img/gym_bkgd_bw-compressor.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.cards-container{

  width: 60%;
  margin: auto;
  display: flex;
}

.card{

  width: calc(100%/4.2);

  transition: all 1s ease;
}

.card:hover .card-title{
  color: #d5625f;
}

.card:hover .card-icon i{
  transform: scale(0.9);
}

.card-icon{

  text-align: center;
  padding-bottom: 20px;

}

.card-icon i{

  border: 1px solid #d5625f;
  border-radius: 100%;
  color: #d5625f;
  font-size: 40px;
  padding-top: 30px;
  height: 100px;
  width: 100px;
}

.card-title{
  color: white;
  text-align: center;
  font-weight: bolder;
}

.card-divider{
  text-align: center;
  padding: 25px 0;
}

.card-p{
  text-align: center;
  color: #aeafae;
  line-height: 30px;
  font-size: bold;
}

.real-world{
  width: 100%;
  background-color: #252a2d;
}

.real-world-h{
  color: white;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 30px;
}

.real-world-divider{
text-align: center;
padding-bottom: 30px;

}

.real-world-divider img{
  padding-right: 50px;
}

.real-world-cardcollector{
  width: 60%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 300px;
}

.real-world-card{
  flex-basis: calc(100% / 2.2);
  background-color: #212425;
  display: flex;
  padding: 35px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.real-world-card-p{
  padding-left: 30px;
  color: #aeafae;
  line-height: 25px;
}

.high-performance{
  color: white;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 40px;
}

.high-performance-divider{
  text-align: center;
  padding-right: 50px;
}

.high-performance-collector{
  width: 60%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
}

.high-performance-img{

  width: calc(100% / 3.3);
  margin-top: 30px;
  margin-right: 30px;

  transition: all 0.5s ease;

}

.high-performance-img:hover{

  transform: scale(1.05);
}

.high-performance-img img{
  width: 95%;
  height: 95%;
}

.punch{
  width: 100%;
  height: 600px;
  background-image: url('img/home-testimonial-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brucesays{
  width: 40%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.brucesays p{

  font-size: 30px;
  line-height: 50px;
}

.brucesays-img{
  width: 20px;
  height: 20px;
  padding: 50px 0;
}

.brucesays span{
 font-weight: bolder;
 padding-top: 15px;
}

.trainers{
  width: 100%;
  background-color: #212425;

}

.trainers-h{
  color: white;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 50px;
}

.trainers-divider{
  text-align: center;
  padding-bottom: 50px;
}

.trainers-cardcollector{

  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.trainers-card{
  width: calc(100%/3.3)
}

.trainers-card-img img{
  width: 100%;
  height: 100%;

  transition: all 0.5s ease;
}


.trainers-card-img img:hover{
  transform: scale(1.05);
}


.trainers-card-description{
  padding: 25px;
  background-color: #252a2d;
}

.trainers-card-description-h{
  color: white;
  font-weight: bolder;
}

.trainers-card-description-p{
  color: #aeafae;
  padding: 25px 0;
  line-height: 30px;
}

.trainers-card-description-social{
  color: white;
}

.trainers-card-description-social i{
  background-color: #212425;
  padding: 15px;
  border-radius: 5px;
  margin: 3px;
  font-size: 20px;
}

.trainers-button{
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
}

.button-trainers{
  text-align: center;
  border: 1px solid #aeafae;
  color: #aeafae;
  padding: 15px 20px;
  width: 250px;

  transition: all 0.5s ease;
}

.button-trainers:hover{

  border: 1px solid white;
  color: white;
}

.performance{
  width: 100%;
  background-color: #252a2d;
}

.performance-h{
  color: white;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  padding-top: 170px;
  padding-bottom: 30px;
}

.performance-divider{
  text-align: center;
  padding-bottom: 50px;
}

.performance-cardcollector{
  width: 60%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.performance-card{

  width: calc(100%/3.3);
  margin-right: 33px;
  padding-bottom: 35px;
}

.performance-card-description{
  padding: 20px;
  background-color: #212425;
}

.performance-card-description-h{
  color: white;
  font-weight: bolder;
  padding-bottom: 15px;
  padding-top: 10px;
  font-size: 22px;
}

.performance-card-description-p{
  color: #aeafae;
  line-height: 30px;
}

.performance-card-img img{

  width: 100%;
  height: 100%;
}

.performance-card-img{
  position: relative;
}

.layover{

  background-color: rgba(213, 98, 95, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  z-index: 150;

  transition: all 0.5s ease;
  visibility: hidden;
}

.layover-icons{
  height: 100%;
  width: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  color: white;

}


.layover-icons i{
  font-size: 30px;
  padding: 10px;
  display: none;
}

.performance-card-img:hover .layover, .layover-icons{
  width: 100%;
  display: flex;
  visibility: visible;

}

.performance-card-img:hover .layover-icons i{
  display: flex;
}

#card4{
  position: relative;
  bottom: 165px;
}

#card6{
  position: relative;
  bottom: 90px;
}

.performance-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 150px;
}

.performance-button{
  text-align: center;
  border: 1px solid #aeafae;
  color: #aeafae;
  padding: 15px 20px;
  width: 250px;

  transition: all 1s ease;
}

.performance-button:hover{
  color: white;
  border: 1px solid white;

}

.achieve{
  height: 200px;
  width: 100%;
  background-image: url('img/home-parallax.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;

}

.achieve-space{
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.achieve-script{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
}

.achieve-h{

  color: white;
  font-size: 30px;
  font-weight: bolder;
  padding-bottom: 20px;
}

.achieve-p{
  color: white;
  font-weight: bold;
}

.achieve-button{

  border: 1px solid #aeafae;
  padding: 15px 40px;
  color: #aeafae;
  font-weight: bold;

  transition: all 1s ease;
}

.achieve-button:hover{
  border: 1px solid white;
  color: white;
}

.contacts{

  width: 100%;
  background-color: #212425;

}

.contact-space{

  width: 60%;
  margin: auto;
  padding: 50px 0;
  display: flex;
}

.contact{
  width: calc(100%/4.2);
}

.contact-h{
  color: #6b6b6b;
  padding-bottom: 30px;
}

.contact-adress{
  color: #aeafae;
  line-height: 30px;
}

.train{
  color: #aeafae;
  border-bottom: 1px solid #6b6b6b;
  padding-bottom: 15px;
  line-height: 30px;

  transition: all 2s ease;
}

.nutritional{
  color: #aeafae;
  border-bottom: 1px solid #6b6b6b;
  padding-bottom: 15px;
  padding-top: 15px;
  line-height: 30px;

  transition: all 1s ease;
}

.nutritional:hover{

  color: #d5625f;

}

.train:hover{

  color: #d5625f;
}

#idcontact{
  margin-left: 35px;
}

.contact-weekdays, .contact-weekends{
  line-height: 30px;
  color: #aeafae;
}

.contact-weekdays span, .contact-weekends span{
  color: #6b6b6b;
}

.contact-weekdays{

  padding-bottom: 20px;

}

.contact img{

  transition: all 0.5s ease;
}

.contact img:hover{

  transform: scale(1.05);
  box-shadow: 5px 5px 20px black;
}

.footer{
  width: 100%;
  background-color: #070809;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-space{
  width: 60%;
  margin: auto;
  display: flex;


}

.copyright{
  color: #aeafae;
  font-size: 0.8rem;
  display: flex;
  align-items: center;

}

.copyright-span{
  border-right: 1px solid #aeafae;
  padding: 0 10px;
}

.footer-icons{

  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;

}

.footer-icons-fb{
  padding: 10px 16px;
  background-color: #d5625f;
  border-radius: 2px;
  color: white;
}

.footer-icons-tw{
  padding: 10px 12px;
  background-color: #d5625f;
  border-radius: 2px;
  color: white;
  margin: 0 5px;

}

.footer-icons-in{
  padding: 10px 14px;
  background-color: #d5625f;
  border-radius: 2px;
  color: white;

}
